<form>
	Fauteuils
	<input type="text" id='fauteuils' name="fauteuils">

	Nombre d'ecrans
    	<select name="operation" id="operation">
        	<option>=</option>
          <option><</option>
          <option>></option>
        </select>
        <input type=text name="ecrans" id='ecrans'>

          <button id="parser" type="button">Submit</button>
</form>          


