<form class="form-group" method="post" action='/signup'>
	Nom
	<input type="text" name="nom" >
	<br>
	Prénom
	<input type="text" name="prenom" >
	<br>
	Email
	<input type="" name="email">
	<br>
	Mot de passe
	<input type="password" name="password"> 
	<br>
	<input type="submit" name="signup" value="envoyer">
</form>
